a{
  opacity: 0.75;
  transition: 0.3s;
}

a:hover{
  opacity: 1;
}

html{
  height: 100%;
}

body {
  padding:0%;
  margin:0%;
  background-color: #313a43;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.corps{
  flex:1;
  display: flex;
  flex-direction: column;
  margin: 1%;
  padding: 1%;
  background-color: #e54a4e;
  min-height: 200%;
  color: #FFFFFF;
}

.infos{
  display: flex;
  flex-direction: row;
  height: auto;
}

.left{
  margin-right: 2%;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.corps img{
  width: 100%;
  height: auto;
}

.right{
  flex: 1;
}

.corps a{
  text-decoration: none;
  color: #FFFFFF;
  font-style: italic;
}

footer{
  margin-left: 2%;
  margin-bottom: 1%;
  align-items: flex-end;
  color: #FFFFFF;
}
