.corps{
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 1%;
  padding: 1%;
  background-color: #e54a4e;
  min-height: 200%;
  color: #FFFFFF;
}

.infos{
  display: flex;
  flex-direction: row;
  height: auto;
}

.left{
  margin: auto;
  margin-right: 2%;
  flex: 1;
  display: flex;
  flex-direction: row;
}

input{
  text-align: center;
  text-decoration: none;
  border-radius: 25%;
  padding: 2%;
  width: 20%;
  margin-top: 5%;
  font-size: 100%;
  background-color: #313a43;
  color: #FFFFFF;
  white-space: nowrap;
  align-self: center;
}

.corps img{
  width: 75%;
  height: auto;
  margin: auto;
}

.right{
  flex: 1;
}

.corps a{
  text-decoration: none;
  color: #FFFFFF;
  font-style: italic;
}
