input[type=text] {
    width: 25%;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
}

body {
  padding:0px;
  margin:0px;
  background-color: #313a43;
}

header{
  overflow: auto;
  width: 100%;
  background-color: #313a43;
}

header #leftside{
  float: left;
  display: inline-block;
}

header img{
  vertical-align: middle;
  height: 5vw;
  width: auto;
  display: inline-block;
}

header h1{
  display: inline-block;
  color: #FFFFFF;
  font-family: "URW Chancery L";
  font-size: 180%;
}

header #liens{
  display: inline-block;
  margin-left: 5%;
  margin-top: 2.5%;
}

header #lien {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 100%;
  font-family: sans-serif;
  opacity: 0.75;
  transition: 0.3s;
  text-align: left;
  margin-right: 50px;
}

header #lien:hover {
  opacity: 1;
}

#corps{
  margin: 5px;
  background-color: #e54a4e;
  min-height: 800px;
}

#resultat {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  background-color: #313a43;
}

 #resultat h1{
   color: #FFFFFF;
   text-decoration: none;
   font-size: 200%;
   font-family: sans-serif;
   opacity: 0.75;
   transition: 0.3s;
   text-align: center;
   margin-right: 50px;
 }

 #resultat a{
   color: #FFFFFF;
   text-decoration: none;
   font-size: 100%;
   font-family: sans-serif;
   opacity: 0.75;
   transition: 0.3s;
   text-align: center;
   margin-right: 50px;
 }

footer{
  margin-left: 10px;
  position:relative;
  bottom:0;
  width:100%;
  display:block;
  color: #FFFFFF;
}
