input[type=text] {
    width: 25%;
    font-size: 1.5vw;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
}

body {
  padding:0px;
  margin:0px;
  background-color: #c65e17;
}

#resultat {
  margin-left: 20%;
  margin-right: 20%;
  background-color: #cccccc;
}

#lien {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 2vw;
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
  margin: 5px;
  background-color: #f7914c;
  opacity: 0.75;
  border-radius: 3px;
  transition: 0.3s;
}

#lien:hover {
  opacity: 1;
}

#liens{
  text-align: center;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: #c65e17;
  margin: 4px;
}

#corps{
  margin: 5px;
  background-color: #11699b;
  min-height: 800px;
}

footer{
  margin-left: 10px;
  position:relative;
  bottom:0;
  width:100%;
  display:block;
  color: #FFFFFF;
}
