input[type=text] {
    height: 5%;
    width: 25%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%; }
body {
  background-color: #d3d3d3;
}

#resultat {
  margin-left: 20%;
  margin-right: 20%;
  background-color: #cccccc;
}

#lien {
  color: #383534;
  text-decoration: none;
}

header img{
  padding-bottom: 1%;
}
