.corps{
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 1%;
  padding: 1%;
  background-color: #e54a4e;
  min-height: 200%;
  color: #FFFFFF;
  align-items: center;
  padding-bottom: 5%;
}

.objet{
  margin-bottom: 5%;
  width: 100%;
  margin-left: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 75%;
}

.text{
  margin-left: 5%;
}

.corps img{
  width: 8vw;
  height: auto;
}

.corps a{
  text-decoration: none;
  font-size: 150%;
  color: #FFFFFF;
}

.corps h1{
  margin-top: 8%;
  text-decoration: none;
  font-size: 200%;
  color: #FFFFFF;
}
